{{ partial "header.html" . }}
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1><p style="padding: 0px 0px;text-align:center;font-size: 26px;font-weight: bold;">From Myth's Blog</p></header>
	<p style="text-align: center; font-family: var(--sans-font);">A blog about Linux, POSIX scripting, Computer Hardware, Cars, and Anything In-Between</p>
  <hr />
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ partial "taglist.html" . }}
</article>
</main>
{{ partial "footer.html" . }}
