@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
}
code {
  color: orange;
  border-radius: 5px;
  font-size: 14px;
  font-family: monospace;
}
:root {
  --text-color: #eee6e6be;
  --sans-font: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
pre {
  background: #444;
  border: 1px solid #def;
  border-radius: 5px;
  padding: 1em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 700px;
  margin: auto;
}
body {
  color: var(--text-color);
  background: #1d2024;
  margin: auto;
  max-width: 800px;
  padding: 0 16px;
  margin-bottom: 500px;
  font-family: var(--sans-font);
  /* font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif; */
  font-size: 18px;
}
a {
  color: #ff8979;
}
article p {
  text-indent: 30px;
}
small {
  font-family: var(--sans-font);
  font-size: 15px;
}
/* article p:first-child { */
/*   text-indent: 0px; */
/* } */
/* article p:first-child::first-letter { */
/*   font-size: 4rem; */
/*   float: left; */
/*   line-height: 1; */
/* } */
h1 {
  text-align:  center;
  color: #eee6e6be;
  font-family: var(--sans-font);
}
.heading {
  font-family: var(--sans-font);
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}
.small {
  font-size: 18px;
  text-indent: 15px;
}
footer {
  text-align: center;
}
img {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: block;
}
@media print {
  body {
  background: #fff;
  color: #000;
  }
  footer {
    display: none;
  }
  .heading {
      color: #000;
  }
  h1 {
      color: #000;
  }
}
